body 
*{
    font-family: 'Marcellus SC', serif;
    list-style: none;
    
    /* text-decoration: none; */
}

body,html{
    min-height: 100%;
}

body{
background-image: url(../fond-page.jpg);
background-repeat: no-repeat;
background-size: cover;
}

nav.menu{
    
    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
}




.btn1{
    border-radius: 50%;
    
}
/* nav.menu ul{

display: flex;
flex-direction: row;
margin-left: 75px;
margin: 0 auto;


} */

li.btn .dropdown-menu{
    background: linear-gradient(#062745, rgb(124, 123, 123)) !important;
        
}


.btn2{
    font-size: 12px;
}

.btn1{
    height: 50px;
    width: 50px;
}

.imagecocci{
    border-radius: 40%;
    
}

.texte{

    background-color: rgba(63, 64, 65,0.4);
    color: white;
    border-radius: 20%;

    display: flex;
    justify-content: space-between;
    font-size: 12px;
    width: 1000px;
    padding: 75px;
    

    
}

div.bloc{
    margin-top: 10%;
    /* margin-right: 10%; */
    display: flex;
    justify-content: center;
    
    
}

footer{

    opacity: 0.7;
        
}


.btn4{ 
    background-color: rgba(0, 0, 0, 0.6) !important;
    color: white !important;

}
    
.DARK{
    display: flex;
    justify-content: end;
    margin-right: 5%;
}

.form-check-label{
    color: white;
    

    
}

.connexion{
    text-decoration: none;
    color: white;
}


#navbar {
    transition: all 0.3s; /* Durée de l'animation */
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    /* Ajoutez d'autres styles si vous le souhaitez, par exemple, changer la couleur d'arrière-plan */
    background-color: #f1f1f1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* header .menu .menu-d{
    display: none;
} */

header .menu .menu-d:hover{
   background-color: white;
   color: black;
}

/* header .menu .menu-d.btn:hover{
    display: block;
} */



/* body {
   

   
}

nav.menu ul li.btn {
    list-style-type: none;
    display: inline-block;
    height: 20px;
    
    

}

.menu{
    position: absolute;
    margin: 80px;
    left: 90px;

}

nav.menu ul li.btn{
    margin: 65px;
    
}

.menu a{ 
    color: white;
    font-size: auto;
    text-decoration: none;
}

.btn1{
    border-radius: 50%;
}

.texte{ position: absolute;
    color: white;
    background-color: blue;
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.imagecocci{
    position: absolute;
    border-radius: 30%;
} */