body
{
  background: linear-gradient(#062745, brown) !important;  
}

    
    


#staticBackdropLabel {
color : black !important;
}

h2 {
    color: brown !important;
    font-weight: bold !important;
    font-family: 'Marcellus SC', sans-serif !important;
}


.persoprin {
    text-align: center !important;
    
}

.personnages {
    border-radius: 50% !important;
    height: 300px !important;
    margin-bottom: 10px;
}

.texte {
    text-align: justify !important;
    font-family: 'Robote', sans-serif !important;
    width: 90%;
    margin : 0 auto;
    color : white;
}

.habitants {
    border-radius:50% !important;
    height:200px !important;
    
}

.divhabitants{
    display: flex !important;
    flex-direction:row !important;
    justify-content :space-evenly !important;
    margin-top : 60px !important;
   

}

.texthabitant {
display: flex !important;
flex-direction: column !important;
justify-content : center !important;
align-items : center !important;
color : white;
}

.popup {
    border-radius:50% !important;
    height: 200px !important;
 
}

header{
    background: linear-gradient(black, #062745) !important;
    color: #000000 !important;
}

a{
  color: white !important;
}

/* nav.menu{

  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
} */

.menu a{
  text-decoration: none;
}

.btn1{
  border-radius: 50%;

}
/* nav.menu ul{

display: flex;
flex-direction: row;
margin-left: 20px;


} */

.btn2{
  font-size: 9px;
  font-family: 'Marcellus SC', sans-serif !important;
}

.btn1{
  height: 50px;
  width: 50px;
}


/* BULLES ANIMATION */
.ball {
display: inline-block;
  border-radius: 100%;
  position: relative;
  background: radial-gradient(circle at bottom, #81e8f6, #76deef 10%, #055194 80%, #062745 100%); }
  .ball:before {
    content: "";
    position: absolute;
    top: 1%;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
    -webkit-filter: blur(5px);
    filter: blur(5px);
    z-index: 2; }
  .ball:after {
    content: "";
    position: absolute;
    display: none;
    top: 5%;
    left: 10%;
    width: 80%;
    height: 80%;
    border-radius: 100%;
    -webkit-filter: blur(1px);
    filter: blur(1px);
    z-index: 2;
    -webkit-transform: rotateZ(-30deg);
    transform: rotateZ(-30deg); }
  .ball .shadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    -webkit-transform: rotateX(90deg) translateZ(-160px);
    transform: rotateX(90deg) translateZ(-160px);
    z-index: 1; }
  .ball.plain {
    background: black; }
    .ball.plain:before, .ball.plain:after {
      display: none; }
  .ball.bubble {
    background: radial-gradient(circle at 50% 55%, rgba(240, 245, 255, 0.9), rgba(240, 245, 255, 0.9) 40%, rgba(225, 238, 255, 0.8) 60%, rgba(43, 130, 255, 0.4));
    -webkit-animation: bubble-anim 2s ease-out infinite;
    animation: bubble-anim 2s ease-out infinite; }
    .ball.bubble:before {
      -webkit-filter: blur(0);
      filter: blur(0);
      height: 80%;
      width: 40%;
      background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
      -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
      transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); }
    .ball.bubble:after {
      display: block;
      background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); }

.stage {
  width: 300px;
  height: 300px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
}

@-webkit-keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes bubble-anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.texte{

  background-color: rgba(63, 64, 65,0.4);
  color: white;
  border-radius: 20%;

  display: flex;
  justify-content: space-between;
  font-size: 12px;
  width: 1000px;
  padding: 75px;
  

  
}

div.bloc{
  margin-top: 10%;
  /* margin-right: 10%; */
  display: flex;
  justify-content: center;
  
  
}

footer{

  opacity: 0.7;
      
}


.btn4{ 
  background-color: rgba(0, 0, 0, 0.6) !important;
  color: white !important;

}
  
.DARK{
  display: flex;
  justify-content: end;
  margin-right: 5%;
}

.form-check-label{
  color: white;
  

  
}

.connexion{
  text-decoration: none;
  color: white;
}


#navbar {
  transition: all 0.3s; /* Durée de l'animation */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  /* Ajoutez d'autres styles si vous le souhaitez, par exemple, changer la couleur d'arrière-plan */
  background-color: #f1f1f1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* header .menu .menu-d{
  display: none;
} */

header .menu .menu-d:hover{
 background-color: white;
 color: black;
}

/* header .menu .menu-d.btn:hover{
  display: block;
} */



/* body {
 

 
}

nav.menu ul li.btn {
  list-style-type: none;
  display: inline-block;
  height: 20px;
  
  

}

.menu{
  position: absolute;
  margin: 80px;
  left: 90px;

}

nav.menu ul li.btn{
  margin: 65px;
  
}

.menu a{ 
  color: white;
  font-size: auto;
  text-decoration: none;
}

.btn1{
  border-radius: 50%;
}

.texte{ position: absolute;
  color: white;
  background-color: blue;
  display: flex;
  justify-content: flex-end;
  width: 20%;
}

.imagecocci{
  position: absolute;
  border-radius: 30%;
} */
.square-flip {
    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
  
    -webkit-transform: perspective(1000px);
    -moz-transform: perspective(1000px);
    -ms-transform: perspective(1000px);
    transform: perspective(1000px);
  
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    transform-style: preserve-3d;
  
    /*border:1px solid #efefef;*/
  
    position: relative;
    float: left;
    margin: 20px;
  }
  .square-flip {
    width: 290px;
    height: 400px;
  }
  .square,
  .square2 {
    width: 100%;
    height: 100%;
  }
  .square {
    background-size: cover;
    background-position: center center;
  
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    overflow: hidden;
  
    position: absolute;
    top: 0;
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .square-flip .square {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    z-index: 1;
  }
  .square-flip:hover .square {
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    transform-style: preserve-3d;
  }
  
  .square2 {
    background-size: cover;
    background-position: center center;
  
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    overflow: hidden;
  
    position: absolute;
    top: 0;
  
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .square-flip .square2 {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    transform: rotateY(180deg);
    transform-style: preserve-3d;
    z-index: 1;
  }
  .square-flip:hover .square2 {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
    transform-style: preserve-3d;
  }
  
  /*Square content*/
  .square-container {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 50%;
  
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
  
    -webkit-transform: translateY(-50%) translateX(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) scale(1);
    transform: translateY(-50%) translateX(0px) scale(1);
    transform-style: preserve-3d;
    z-index: 2;
  }
  .square-flip:hover .square-container {
    -webkit-transform: translateY(-50%) translateX(-650px) scale(0.88);
    -ms-transform: translateY(-50%) translateX(-650px) scale(0.88);
    transform: translateY(-50%) translateX(-650px) scale(0.88);
    transform-style: preserve-3d;
  }
  
  .square-container2 {
    padding: 40px;
    text-align: center;
    position: relative;
    top: 50%;
  
    -ms-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
    -webkit-transition: transform 0.6s cubic-bezier(0.5, 0.3, 0.3, 1);
  
    -webkit-transform: translateY(-50%) translateX(650px) translateZ(60px)
      scale(0.88);
    -ms-transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
    transform: translateY(-50%) translateX(650px) translateZ(60px) scale(0.88);
  
    transform-style: preserve-3d;
    z-index: 2;
  }
  .square-flip:hover .square-container2 {
    -webkit-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    -ms-transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform: translateY(-50%) translateX(0px) translateZ(0px) scale(1);
    transform-style: preserve-3d;
  }
  
  /*Style text*/
  .square-flip h2 {
    color: white;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 22px;
  }
  .square-flip h3 {
    color: white;
    font-family: "Open Sans";
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
  }
  /*Elements*/
  .flip-overlay {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }
  .align-center {
    margin: 0 auto;
  }
  .kallyas-button {
    display: block;
    width: 160px;
    padding: 18px 30px;
    font-family: "Open Sans";
    font-weight: 600;
    color: #fff;
    background: #ff2024;
    margin: 0 auto;
    border-radius: 2px;
    text-decoration: none;
  
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa067+0,ff2959+49,ff2024+100 */
    background: #ffa067; /* Old browsers */
    background: -moz-linear-gradient(
      -45deg,
      #ffa067 0%,
      #ff2959 49%,
      #ff2024 100%
    ); /* FF3.6-15 */
    background: -webkit-linear-gradient(
      -45deg,
      #ffa067 0%,
      #ff2959 49%,
      #ff2024 100%
    ); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(
      135deg,
      #ffa067 0%,
      #ff2959 49%,
      #ff2024 100%
    ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa067', endColorstr='#ff2024',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  }
  
  /*ADD SHADOWS OPTIONAL*/
  .square-flip .square .boxshadow,
  .square-flip .square .textshadow,
  .square-flip .square2 .boxshadow,
  .square-flip .square2 .textshadow {
    -ms-transition: 0.6s;
    transition: 0.6s;
    -webkit-transition: 0.6s;
  }
  
  .square-flip .square .boxshadow {
    -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  }
  .square-flip .square .textshadow {
    -webkit-text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    text-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  }
  .square-flip:hover .square .boxshadow,
  .square-flip:hover .square .textshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
  }
  
  .square-flip .square2 .boxshadow {
    -webkit-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    -moz-box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    box-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
  }
  .square-flip .square2 .textshadow {
    -webkit-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    -moz-text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
    text-shadow: 240px 42px 58px -8px rgba(0, 0, 0, 0);
  }
  .square-flip:hover .square2 .boxshadow,
  .square-flip:hover .square2 .textshadow {
    -webkit-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
    box-shadow: 24px 42px 58px -8px rgba(0, 0, 0, 0.3);
  }
  
  /*You can delete this style*/
  .centerflipcards {
    display: block;
    width: 1330px;
    height: 440px;
    text-align: center;
    margin: 0 auto;
    margin-top: 25px;
  }
  .clearfix {
    clear: both;
  }
  .centerflipcards p {
    font-family: "Open Sans";
    font-size: 13px;
    margin-top: 10px;
    font-weight: 700;
  }
  