
header {
background: linear-gradient(black, #062745) !important;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(#062745, brown) !important;
  }
  nav.menu{

    padding: 10px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
  }
  li.btn .dropdown-menu{
    background: linear-gradient(#062745, rgb(124, 123, 123)) !important;
        
}

.menu a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    /* nav.menu{
    
  padding: 10px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
} */




.btn1{
  border-radius: 50%;
  
}


li.btn .dropdown-menu{
  background: linear-gradient(#062745, rgb(124, 123, 123)) !important;
    
}



.btn2{
  font-size: 12px;
}

.btn1{
  height: 50px;
  width: 50px;
}
}

.btn1{
    border-radius: 50%;

}




.btn2{
    font-size: 12px;
}

.btn1{
    height: 50px;
    width: 50px;
}

.container {
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(145, 145, 145);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  h1 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #3e8e41;
  }
  