body 

    button {
        background-color: cornflowerblue;
        border : 0;
        width: 20%;
    justify-content: space-around ;
    
    }
    p{
        text-align: center;
        font-size: 20px;
    }
   button{
    height: 2cm;
    width: 5cm;
    border-radius: 33%;
   }
   
   .Achat{
    color: rgb(0, 0, 0);
    background-color: crimson;
    height: 2cm;
    width:10cm ;
    border-radius:0cm;

   }

   
