body{
    /* background-image: url(spider_president.png); */
    background-repeat: no-repeat;
    background-size: cover;
}

body,html{
    min-height: 100%;
  
}

.DARK{
    display: flex;
    justify-content: center;
    padding: 1px;
}

.form-check-label{
    color: white;
    
}

video{
    width: 100%;
    height: 100%;

}

.form-check-label{
    color: white;
}

header
{
  background: linear-gradient(#062745, brown) !important;
}